<main class="dialog-container">
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <h2 mat-dialog-title>Add User</h2>
  <mat-dialog-content>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input
          [disabled]="loading"
          matInput
          placeholder="First Name"
          [(ngModel)]="firstName"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input
          [disabled]="loading"
          matInput
          placeholder="Last Name"
          [(ngModel)]="lastName"
        />
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Birth Date</mat-label>
      <input
        [disabled]="loading"
        matInput
        placeholder="Birth Date"
        [matDatepicker]="picker"
        [(ngModel)]="birthdate"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>E-Mail</mat-label>
      <input
        [disabled]="loading"
        matInput
        placeholder="E-Mail"
        [(ngModel)]="email"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Street & House No.</mat-label>
      <input
        [disabled]="loading"
        matInput
        placeholder="Street & House No."
        [(ngModel)]="street"
      />
    </mat-form-field>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>ZIP Code</mat-label>
        <input
          [disabled]="loading"
          matInput
          placeholder="ZIP Code"
          [(ngModel)]="zipCode"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input
          [disabled]="loading"
          matInput
          placeholder="City"
          [(ngModel)]="city"
        />
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button [disabled]="loading" mat-button (click)="dialogRef.close()">
      Cancel
    </button>
    <button
      [disabled]="loading"
      mat-button
      cdkFocusInitial
      (click)="saveUser()"
    >
      Save
    </button>
  </mat-dialog-actions>
</main>
