mat-dialog-content div {
  padding-block: 5px;
  display: flex;
  justify-content: space-between;
}

.full-width {
  width: 100%;
  margin-top: 5px;
}

.dialog-container {
  width: 500px;
  position: relative;
}

/* .mt {
  margin-top: 5px;
} */
