<mat-card class="user-detail-header">
  <mat-icon [matMenuTriggerFor]="headerMenu">more_vert</mat-icon>
  <mat-menu #headerMenu="matMenu">
    <button mat-menu-item (click)="editUserInfo()">Edit</button>
  </mat-menu>
  <div class="user-detail-header-information">
    <img src="./assets/img/user-detail-img.png" />
    <div>
      <h2>{{ selectedUser?.firstName }} {{ selectedUser?.lastName }}</h2>
      <a [href]="'mailto:' + selectedUser?.email">{{ selectedUser?.email }}</a>
    </div>
  </div>
</mat-card>

<mat-card class="user-detail-body">
  <mat-icon [matMenuTriggerFor]="addressMenu">more_vert</mat-icon>
  <mat-menu #addressMenu="matMenu">
    <button mat-menu-item (click)="editUserAddress()">Edit</button>
  </mat-menu>

  <mat-card-header>
    <mat-card-title>Address:</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{ selectedUser?.street }}
    <br />
    {{ selectedUser?.zipCode }} {{ selectedUser?.city }}
  </mat-card-content>
</mat-card>
