<mat-card appearance="outlined">
  <!-- <mat-card-content>Simple card</mat-card-content> -->
  <table>
    <thead>
      <th>Lastname</th>
      <th>Firstname</th>
      <th>E-Mail</th>
      <th>Address</th>
    </thead>
    <tbody>
      @for (user of getUsers(); track $index) {
      <tr [routerLink]="['/user/' + user.id]">
        <td>{{ user.lastName }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.street }},{{ user.zipCode }},{{ user.city }}</td>
      </tr>
      }
    </tbody>
  </table>
</mat-card>

<button
  (click)="openDialog()"
  class="add-user-btn"
  mat-fab
  color="primary"
  matTooltip="Add user!"
>
  <mat-icon>add</mat-icon>
</button>
